[data-role="DataItem"]{
	display: inline-block;
	background: LightSlateGray;
	color: white;
	margin: 0 6px  6px 0;
	padding: 3px;
	min-width: 19%;
	list-style-type: none;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[data-role="DataItem.Name"]{
	font-size: large;
	margin: 0;
}

[data-role="DataItem.Type"], [data-role="DataItem.Subtype"]{
	font-size: smaller;
	margin: 0;
	text-transform: lowercase;
}

[data-role="DataItem.Value"]{
	display: block;
	padding: 3px;
}

.UNAVAILABLE{
	background: gray;
}

.NORMAL,.AVAILABLE,.ACTIVE,.ARMED{
	background: green;
}

.WARNING,.READY{
	background: GoldenRod;
}

.FAULT,.STOPPED,.TRIGGERED{
	background: FireBrick;
}